header{
    width: 100%;
}
nav{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}
nav ul li a:hover{
    color: #5d53d6;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}
.about{
    font-size: 14px;
}

@media screen and (max-width: 1030px){

}

@media screen and (max-width: 760px){
    nav{
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .logo{
        font-size: 20px;
    }
    .about{
        font-size: 12px;
    }
}